#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  font-family: 'Roboto_slab', serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(187, 185, 185);
  flex-grow: 1;
  height:100%
}
.contentBox {
  padding: 20px 30px;
  border-radius: 15px;
  background-color: white;
  padding-left: 30px;
  width:500px;
}
